DATABASE_URL=mysql+mysqlconnector://root@localhost/example
FLASK_APP=src/main.py
FLASK_ENV=development

JWT_SECRET=444

TWILIO_ACCOUNT_SID=AC1c8d36e6038ad0e42b54a9f4fdc5a8a8
TWILIO_AUTH_TOKEN=ec94eef782e1c8a7831a18e578601d22

PHONE_NUMBER_FROM_TWILIO=+12014855478